<div class="body">
    <div class="login-container">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <h2>Login</h2>

            <!-- Email Field -->
            <div class="form-group">
                <label for="email"><span style="color: red;">*</span>Email</label>
                <input type="email" id="email" formControlName="email" class="form-control"
                    placeholder="Enter your email" />
                <div class="error-message" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
                    <small *ngIf="loginForm.get('email')?.hasError('required')">Email is required.</small>
                    <small *ngIf="loginForm.get('email')?.hasError('email')">Enter a valid email address.</small>
                </div>
            </div>

            <!-- Password Field -->
            <div class="form-group">
                <label for="password"><span style="color: red;">*</span>Password</label>
                <input [type]="showPassword ? 'text' : 'password'" id="password" formControlName="password"
                        class="form-control" placeholder="Enter your password" />
                    <button type="button" class="eye-button" (click)="togglePasswordVisibility()"
                        [attr.aria-label]="showPassword ? 'Hide password' : 'Show password'">
                        <i [class]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
                    </button>
                <div class="error-message"
                    *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
                    <small *ngIf="loginForm.get('password')?.hasError('required')">Password is required.</small>
                    <small *ngIf="loginForm.get('password')?.hasError('minlength')">
                        Password must be at least 8 characters long.
                    </small>
                </div>
            </div>

            <div *ngIf="message" class="login-error-message">
                <small>{{ message }}</small>
              </div>

              <div>
                <small style="color: red;">*required fields</small>
              </div><br>

            <!-- Submit Button -->
            <button type="submit" class="login-button" [disabled]="loginForm.invalid">Login</button>
        </form>

        <!-- Registration Text -->
        <div class="register-container">
            <p>Don't have an account? <a routerLink="/adduser">Register</a></p>
        </div>
    </div>
</div>
