body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}
.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background: #f9f9f9;
}
.form-group textarea {
    resize: none;
    height: 100px;
}
.buttons {
    display: flex;
    justify-content: space-between;
}
.buttons button {
    width: 30%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
}
.buttons .add-btn {
    background-color: #28a745;
}
.buttons .update-btn {
    background-color: #007bff;
}
.buttons .delete-btn {
    background-color: #dc3545;
}
.buttons button:hover {
    opacity: 0.9;
}
.form-group input[type="file"] {
    padding: 3px;
}
.alert {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #777;
}

/* Error Messages */
.invalid-feedback {
    color: #d9534f;
    font-size: 12px;
    margin-top: 5px;
  }

  .floating-button-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000; /* Ensures it appears on top */
}

.floating-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.floating-button:hover {
    background-color: #0056b3;
}

.floating-button:active {
    background-color: #003f7f;
}